Repository mapbox/mapbox-maps-ios, pull requests merged in 2021-09, with the labels that each got.

#642 Disambiguate Feature in public API
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Extensions/Turf/Feature.swift
  Sources/MapboxMaps/Foundation/MapboxMap.swift
  Sources/MapboxMaps/Style/Style.swift
Labels: skip changelog

#641 Set model-type to location-indicator for 3D puck
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/MapView+Supportable.swift
  Sources/MapboxMaps/Foundation/MapView.swift
  Sources/MapboxMaps/Location/LocationManager.swift
  Sources/MapboxMaps/Location/LocationStyleProtocol.swift
  Sources/MapboxMaps/Location/LocationSupportableMapView.swift
  Sources/MapboxMaps/Location/Pucks/LocationPuckManager.swift
  Sources/MapboxMaps/Location/Pucks/Puck.swift
  Sources/MapboxMaps/Location/Pucks/Puck2D.swift
  Sources/MapboxMaps/Location/Pucks/Puck3D.swift
  Sources/MapboxMaps/Style/ModelLayer.swift
  Sources/MapboxMaps/Style/ModelLayerType.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/LocationManagerIntegrationTests.swift
  Tests/MapboxMapsTests/Location/LocationManagerTests.swift
  Tests/MapboxMapsTests/Location/LocationSupportableMapViewMock.swift
  Tests/MapboxMapsTests/Location/MockLocationStyle.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck2DIntegrationTests.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck3DTests.swift
  Tests/MapboxMapsTests/Style/Fixtures/Value+Fixtures.swift
  Tests/MapboxMapsTests/Style/ModelLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/ModelLayerTests.swift
Labels: skip changelog

#649 IndexOf and Slice expression support + prefetch doc update
  Sources/MapboxMaps/Style/Generated/Expressions/AllExpressions.swift
  Sources/MapboxMaps/Style/Generated/Sources/GeoJSONSource.swift
  Sources/MapboxMaps/Style/Generated/Sources/ImageSource.swift
  Sources/MapboxMaps/Style/Generated/Sources/RasterDemSource.swift
  Sources/MapboxMaps/Style/Generated/Sources/RasterSource.swift
  Sources/MapboxMaps/Style/Generated/Sources/VectorSource.swift
Labels: feature :green_apple:

#656 Fix StyleColor test that used wrong lower bound
  Tests/MapboxMapsTests/Style/StyleColorTests.swift
Labels: skip changelog

#657 Fix race condition in annotation integration tests
  Tests/MapboxMapsTests/Annotations/Generated/CircleAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PointAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolygonAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolylineAnnotationIntegrationTests.swift
Labels: skip changelog

#658 Fixes a crash in integration test case
  Tests/MapboxMapsTests/Foundation/Integration Tests/MapViewIntegrationTestCase.swift
Labels: skip changelog

#629 Enable show/hide for location puck accuracyRadius
  Apps/Examples/Examples/All Examples/Custom2DPuckExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Location/Pucks/Puck2D.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck2DIntegrationTests.swift
Labels: feature :green_apple:

#643 Check whether a layer is persistent in Style._moveLayer
  CHANGELOG.md
  Sources/MapboxMaps/Style/Style.swift
  Tests/MapboxMapsTests/Style/StyleIntegrationTests.swift
Labels: bug :beetle:

#651 Fix issue where tapped annotations were not being detected
  CHANGELOG.md
  Sources/MapboxMaps/Annotations/Generated/CircleAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PointAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolygonAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolylineAnnotationManager.swift
Labels: bug :beetle:

#661 Nm/fix geometry in tile store 2
  CHANGELOG.md
  Sources/MapboxMaps/Offline/OfflineCallbacks.swift
  Sources/MapboxMaps/Offline/TileStore+MapboxMaps.swift
Labels: breaking change :warning:

#664 Accommodate JSONDecoder precision loss in test
  Tests/MapboxMapsTests/Style/StyleColorTests.swift
Labels: skip changelog

#646 Enable camera animators to run without storing a reference
  Apps/Examples/Examples/All Examples/CameraAnimatorsExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Camera/BasicCameraAnimator.swift
Labels: breaking change :warning:

#668 Update Mobile Events to v1.0.4
  Apps/Apps.xcworkspace/xcshareddata/swiftpm/Package.resolved
  MapboxMaps.podspec
  Package.resolved
  Package.swift
  scripts/release/packager/versions.json
Labels: dependencies

#648 Add a property for getting/setting the map's debug option
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/MapboxMap.swift
  Tests/MapboxMapsTests/Foundation/MapboxMapsFoundationTests.swift
Labels: feature :green_apple:

#680 Use @_spi(Experimental) for experimental methods
  CHANGELOG.md
  Sources/MapboxMaps/Annotations/Generated/CircleAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PointAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolygonAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolylineAnnotationManager.swift
  Sources/MapboxMaps/Location/LocationStyleProtocol.swift
  Sources/MapboxMaps/Location/Pucks/Puck2D.swift
  Sources/MapboxMaps/Location/Pucks/Puck3D.swift
  Sources/MapboxMaps/Style/Style.swift
  Sources/MapboxMaps/Style/StyleManagerProtocol.swift
  Tests/MapboxMapsTests/Annotations/Generated/CircleAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PointAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolygonAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolylineAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Location/MockLocationStyle.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck2DIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/LocationIndicatorLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/StyleIntegrationTests.swift
Labels: breaking change :warning:

#684 Perform initial camera sync without animation
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Camera/BasicCameraAnimator.swift
Labels: bug :beetle:

#677 Refactor gestures
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Camera/BasicCameraAnimator.swift
  Sources/MapboxMaps/Foundation/Camera/CameraAnimationsManager.swift
  Sources/MapboxMaps/Foundation/Camera/CameraAnimatorMapboxMap.swift
  Sources/MapboxMaps/Foundation/Camera/CameraState.swift
  Sources/MapboxMaps/Foundation/Camera/FlyToCameraAnimator.swift
  Sources/MapboxMaps/Foundation/MapView.swift
  Sources/MapboxMaps/Foundation/MapViewDependencyProvider.swift
  Sources/MapboxMaps/Foundation/MapboxMap.swift
  Sources/MapboxMaps/Gestures/CameraAnimationsManagerProtocol.swift
  Sources/MapboxMaps/Gestures/GestureHandlerDelegate.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTapToZoomGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/GestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PanGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PinchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PitchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/QuickZoomGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/RotateGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/TapGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureManager.swift
  Sources/MapboxMaps/Gestures/GestureOptions.swift
  Sources/MapboxMaps/Gestures/GestureRecognizerDelegate.swift
  Sources/MapboxMaps/Gestures/GestureType.swift
  Sources/MapboxMaps/Gestures/GestureUtilities.swift
  Tests/.swiftlint.yml
  Tests/MapboxMapsTests/Foundation/Camera/BasicCameraAnimatorIntegrationTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/BasicCameraAnimatorTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/CameraStateTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/FlyToCameraAnimatorTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/MockCameraAnimatorMapboxMap.swift
  Tests/MapboxMapsTests/Foundation/Camera/MockMapboxMap.swift
  Tests/MapboxMapsTests/Foundation/Camera/Mocks/MockCameraAnimationsManager.swift
  Tests/MapboxMapsTests/Foundation/Mocks/MockMapViewDependencyProvider.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTapToZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockGestureHandlerDelegate.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockLongPressGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockPanGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockPinchGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockRotationGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockTapGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PanGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PinchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PitchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/QuickZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/RotateGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureManagerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureSupportableViewMock.swift
  Tests/MapboxMapsTests/Gestures/GestureUtilitiesTests.swift
  Tests/MapboxMapsTests/Gestures/Mocks/MockGestureManagerDelegate.swift
  Tests/MapboxMapsTests/Gestures/Mocks/MockGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/PanGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/PinchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/PitchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/QuickZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/RotateGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/TapGestureHandlerTests.swift
  Tests/MapboxMapsTests/Helpers/Random.swift
Labels: bug :beetle:, breaking change :warning:

#660 Add support for PromoteId
  CHANGELOG.md
  Sources/MapboxMaps/Style/Generated/Sources/GeoJSONSource.swift
  Sources/MapboxMaps/Style/Generated/Sources/VectorSource.swift
  Sources/MapboxMaps/Style/Types/PromoteId.swift
  Tests/MapboxMapsTests/Style/Fixtures/Fixtures.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/GeoJSONSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/VectorSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/Sources/GeoJSONSourceTests.swift
  Tests/MapboxMapsTests/Style/Generated/Sources/VectorSourceTests.swift
Labels: feature :green_apple:

#696 Gesture Options Cleanup
  Apps/Examples/Examples/All Examples/CameraAnimatorsExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Camera/CameraAnimationsManager.swift
  Sources/MapboxMaps/Foundation/Camera/GestureDecelerationCameraAnimator.swift
  Sources/MapboxMaps/Foundation/MapView+Supportable.swift
  Sources/MapboxMaps/Foundation/MapViewDependencyProvider.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTapToZoomGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTapToZoomInGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTouchToZoomOutGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/GestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PanGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PinchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/RotateGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureManager.swift
  Sources/MapboxMaps/Gestures/GestureOptions.swift
  Sources/MapboxMaps/Gestures/GestureType.swift
  Tests/MapboxMapsTests/Foundation/Camera/GestureDecelerationCameraAnimatorTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/Mocks/MockCameraAnimationsManager.swift
  Tests/MapboxMapsTests/Foundation/Mocks/MockMapViewDependencyProvider.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTapToZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTapToZoomInGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTouchToZoomOutGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockGestureHandlerDelegate.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockPanGestureHandler.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockPinchGestureRecognizer.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PanGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PinchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/RotateGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureManagerTests.swift
  Tests/MapboxMapsTests/Helpers/Stub.swift
  Tests/MapboxMapsTests/Ornaments/Compass/CompassMapViewIntegrationTests.swift
Labels: bug :beetle:, skip changelog, breaking change :warning:

#693 Enable capturing last rendered state of MapView
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/MapView+Snapshot.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/Map/MapViewRenderedSnapshotIntegrationTests.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/MapViewIntegrationTestCase.swift
Labels: feature :green_apple:

#695 Enable adding cap insets
  Apps/Examples/Examples/All Examples/DataDrivenSymbolsExample.swift
  Apps/Examples/Examples/All Examples/SymbolClusteringExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Annotations/PointAnnotation+ImageHandling.swift
  Sources/MapboxMaps/Location/LocationStyleProtocol.swift
  Sources/MapboxMaps/Location/Pucks/Puck2D.swift
  Sources/MapboxMaps/Location/Pucks/Puck3D.swift
  Sources/MapboxMaps/Style/Style.swift
  Sources/MapboxMaps/Style/StyleManagerProtocol.swift
  Tests/MapboxMapsTests/Location/MockLocationStyle.swift
Labels: breaking change :warning:

#694 Improve usability of generic methods
  Apps/Examples/Examples/All Examples/ShowHideLayerExample.swift
  Apps/Examples/Examples/All Examples/SkyLayerExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Extensions/Core/HttpResponse.swift
  Sources/MapboxMaps/Style/Generated/Layers/BackgroundLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/CircleLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/FillExtrusionLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/FillLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/HeatmapLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/HillshadeLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/LineLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/LocationIndicatorLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/RasterLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/SkyLayer.swift
  Sources/MapboxMaps/Style/Generated/Layers/SymbolLayer.swift
  Sources/MapboxMaps/Style/Layers.swift
  Sources/MapboxMaps/Style/Sources.swift
  Sources/MapboxMaps/Style/Style+Localization.swift
  Sources/MapboxMaps/Style/Style.swift
  Tests/MapboxMapsTests/Annotations/Generated/CircleAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PointAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolygonAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolylineAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck2DIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/BackgroundLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/CircleLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/FillExtrusionLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/FillLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/HeatmapLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/HillshadeLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/LineLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/LocationIndicatorLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/RasterLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/SkyLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Layers/SymbolLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/GeoJSONSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/ImageSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/RasterDemSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/RasterSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/Generated/IntegrationTests/Sources/VectorSourceIntegrationTests.swift
  Tests/MapboxMapsTests/Style/ModelLayerIntegrationTests.swift
  Tests/MapboxMapsTests/Style/StyleIntegrationTests.swift
Labels: breaking change :warning:

#697 Update Gesture Manager Delegate methods
  CHANGELOG.md
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTapToZoomInGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTouchToZoomOutGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/GestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PanGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PinchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PitchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/QuickZoomGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureManager.swift
  Tests/MapboxMapsTests/Foundation/Camera/Mocks/MockCameraAnimationsManager.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTapToZoomInGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/DoubleTouchToZoomOutGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/Mocks/MockGestureHandlerDelegate.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PanGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PinchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PitchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/QuickZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureManagerTests.swift
  Tests/MapboxMapsTests/Gestures/Mocks/MockGestureManagerDelegate.swift
Labels: breaking change :warning:

#707 Remove default marker image
  .swiftpm/xcode/xcshareddata/xcschemes/MapboxMaps.xcscheme
  Apps/DebugApp/DebugApp.xcodeproj/project.pbxproj
  Apps/DebugApp/DebugApp.xcodeproj/xcshareddata/xcschemes/DebugApp.xcscheme
  Apps/Examples/Examples.xcodeproj/project.pbxproj
  Apps/Examples/Examples.xcodeproj/xcshareddata/xcschemes/Examples.xcscheme
  Apps/Examples/Examples/All Examples/CustomPointAnnotationExample.swift
  Apps/Examples/Examples/All Examples/MultiplePointAnnotationsExample.swift
  Apps/Examples/Examples/All Examples/OfflineManagerExample.swift
  Apps/Examples/Examples/All Examples/PointAnnotationExample.swift
  Apps/Examples/Examples/All Examples/SelectAnnotationExample.swift
  Apps/Examples/Examples/All Examples/SwiftUIExample.swift
  Apps/Examples/Examples/All Examples/UpdatePointAnnotationPositionExample.swift
  Apps/Examples/Examples/Models/Examples.swift
  Apps/StressTest/StressTest.xcodeproj/xcshareddata/xcschemes/StressTest.xcscheme
  Apps/StressTest/StressTest/Assets.xcassets/custom_marker.imageset/Contents.json
  Apps/StressTest/StressTest/Assets.xcassets/custom_marker.imageset/custom-marker.png
  Apps/StressTest/StressTest/ViewController.swift
  CHANGELOG.md
  Sources/MapboxMaps/Annotations/PointAnnotation+ImageHandling.swift
  Tests/MapboxMapsTests/MigrationGuide/MigrationGuideIntegrationTests.swift
Labels: bug :beetle:, skip changelog

#709 Redesign single tap event handling for annotations
  CHANGELOG.md
  Sources/MapboxMaps/Annotations/AnnotationOrchestrator.swift
  Sources/MapboxMaps/Annotations/Generated/CircleAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PointAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolygonAnnotationManager.swift
  Sources/MapboxMaps/Annotations/Generated/PolylineAnnotationManager.swift
  Sources/MapboxMaps/Foundation/MapView.swift
  Sources/MapboxMaps/Foundation/MapViewDependencyProvider.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/SingleTapGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureManager.swift
  Sources/MapboxMaps/Gestures/GestureType.swift
  Tests/MapboxMapsTests/Foundation/Mocks/MockMapViewDependencyProvider.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/SingleTapGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureManagerTests.swift
Labels: breaking change :warning:

#708 Update Experimental APIs
  CHANGELOG.md
  Sources/MapboxMaps/Ornaments/OrnamentOptions.swift
  Sources/MapboxMaps/Ornaments/OrnamentsManager.swift
  Sources/MapboxMaps/Style/Style.swift
  Sources/MapboxMaps/Style/StyleManagerProtocol.swift
Labels: skip changelog

#710 Remove unused StyleManagerProtocol and comments
  Sources/MapboxMaps/Style/Style.swift
  Sources/MapboxMaps/Style/StyleManagerProtocol.swift
  Tests/MapboxMapsTests/Annotations/Generated/CircleAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PointAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolygonAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolylineAnnotationIntegrationTests.swift
  Tests/MapboxMapsTests/Location/Pucks/Puck2DIntegrationTests.swift
Labels: skip changelog

#683 Marked methods in `MBXGeometry` extension as internal
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Extensions/Core/MBXGeometry.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/Geometry+MBXGeometryTests.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/OfflineManagerIntegrationTests.swift
  Tests/MapboxMapsTests/MigrationGuide/OfflineGuideIntegrationTests.swift
Labels: :stop_sign: blocked, breaking change :warning:

#711 Update TileRegionLoadOptions to use turf geometry
  CHANGELOG.md
  Sources/MapboxMaps/Offline/TileRegionLoadOptions+MapboxMaps.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/OfflineManagerIntegrationTests.swift
  Tests/MapboxMapsTests/MigrationGuide/OfflineGuideIntegrationTests.swift
  Tests/MapboxMapsTests/Offline/TileRegionLoadOptions+MapboxMaps.swift
Labels: breaking change :warning:

#717 Refine FeatureExtensionValue for Swift
  Apps/Examples/Examples/All Examples/LiveDataExample.swift
  Apps/Examples/Examples/All Examples/OfflineManagerExample.swift
  Apps/Examples/Examples/All Examples/PolygonAnnotationExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Extensions/Core/FeatureExtensionValue.swift
  Sources/MapboxMaps/Foundation/Extensions/Turf/Feature.swift
  Sources/MapboxMaps/Foundation/MapboxMap.swift
  Tests/MapboxMapsTests/Foundation/Extensions/Core/FeatureExtensionValueTests.swift
  Tests/MapboxMapsTests/Foundation/Extensions/Turf/FeatureTests.swift
Labels: skip changelog

#712 Lock out animations during any touch events
  Apps/Examples/Examples/All Examples/AnimateImageLayerExample.swift
  Apps/Examples/Examples/All Examples/RestrictCoordinateBoundsExample.swift
  CHANGELOG.md
  Sources/MapboxMaps/Foundation/Camera/BasicCameraAnimator.swift
  Sources/MapboxMaps/Foundation/Camera/CameraAnimationsManager.swift
  Sources/MapboxMaps/Foundation/CameraManagerProtocol.swift
  Sources/MapboxMaps/Foundation/MapFeatureQueryable.swift
  Sources/MapboxMaps/Foundation/MapProjectionDelegate.swift
  Sources/MapboxMaps/Foundation/MapTransformDelegate.swift
  Sources/MapboxMaps/Foundation/MapView+Supportable.swift
  Sources/MapboxMaps/Foundation/MapView.swift
  Sources/MapboxMaps/Foundation/MapViewDependencyProvider.swift
  Sources/MapboxMaps/Foundation/MapboxMap.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/AnimationLockoutGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTapToZoomInGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/DoubleTouchToZoomOutGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/GestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PanGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PinchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/PitchGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/QuickZoomGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureHandlers/SingleTapGestureHandler.swift
  Sources/MapboxMaps/Gestures/GestureManager.swift
  Sources/MapboxMaps/Gestures/GestureRecognizers/AnyTouchGestureRecognizer.swift
  Sources/MapboxMaps/Location/LocationStyleProtocol.swift
  Sources/MapboxMaps/Ornaments/Compass/MapboxCompassOrnamentView.swift
  Sources/MapboxMaps/Ornaments/OrnamentSupportableView.swift
  Sources/MapboxMaps/Ornaments/OrnamentsManager.swift
  Tests/MapboxMapsTests/Foundation/Camera/BasicCameraAnimatorTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/CameraAnimationsManagerTests.swift
  Tests/MapboxMapsTests/Foundation/Camera/MockMapboxMap.swift
  Tests/MapboxMapsTests/Foundation/Camera/MockPropertyAnimator.swift
  Tests/MapboxMapsTests/Foundation/Camera/Mocks/MockCameraAnimationsManager.swift
  Tests/MapboxMapsTests/Foundation/MapboxMapTests.swift
  Tests/MapboxMapsTests/Foundation/Mocks/MockCancelable.swift
  Tests/MapboxMapsTests/Foundation/Mocks/MockMapViewDependencyProvider.swift
  Tests/MapboxMapsTests/Foundation/Projection/ProjectionTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/AnimationLockoutGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PanGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PinchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/PitchGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/QuickZoomGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureHandlers/SingleTapGestureHandlerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureManagerTests.swift
  Tests/MapboxMapsTests/Gestures/GestureRecognizers/AnyTouchGestureRecognizerTests.swift
  Tests/MapboxMapsTests/Gestures/Mocks/MockGestureRecognizer.swift
  Tests/MapboxMapsTests/MigrationGuide/MigrationGuideIntegrationTests.swift
  Tests/MapboxMapsTests/Ornaments/Compass/CompassMapViewIntegrationTests.swift
  Tests/MapboxMapsTests/Ornaments/Mocks/MockInfoButtonOrnamentDelegate.swift
  Tests/MapboxMapsTests/Ornaments/OrnamentManagerTests.swift
  Tests/MapboxMapsTests/Ornaments/OrnamentSupportableViewMock.swift
Labels: skip changelog

#715 Migrate Turf GeoJSON usage to GeoJSONObject and JSONValue
  Apps/Apps.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apps/Examples/Examples/All Examples/AnimateGeoJSONLineExample.swift
  Apps/Examples/Examples/All Examples/AnimateLayerExample.swift
  Apps/Examples/Examples/All Examples/FeatureStateExample.swift
  Apps/Examples/Examples/All Examples/FeaturesAtPointExample.swift
  Apps/Examples/Examples/All Examples/LineGradientExample.swift
  Apps/Examples/Examples/All Examples/LiveDataExample.swift
  Apps/Examples/Examples/All Examples/MultipleGeometriesExample.swift
  Apps/Examples/Examples/All Examples/SymbolClusteringExample.swift
  CHANGELOG.md
  MapboxMaps.podspec
  Package.resolved
  Package.swift
  Sources/MapboxMaps/Annotations/Generated/CircleAnnotation.swift
  Sources/MapboxMaps/Annotations/Generated/PointAnnotation.swift
  Sources/MapboxMaps/Annotations/Generated/PolygonAnnotation.swift
  Sources/MapboxMaps/Annotations/Generated/PolylineAnnotation.swift
  Sources/MapboxMaps/Foundation/Extensions/Turf/Feature.swift
  Sources/MapboxMaps/Style/Style.swift
  Tests/MapboxMapsTests/Annotations/Generated/CircleAnnotationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PointAnnotationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolygonAnnotationTests.swift
  Tests/MapboxMapsTests/Annotations/Generated/PolylineAnnotationTests.swift
  Tests/MapboxMapsTests/Foundation/Extensions/Core/FeatureExtensionValueTests.swift
  Tests/MapboxMapsTests/Foundation/Extensions/Turf/FeatureTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/FeatureCollectionTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/Geometry+MBXGeometryTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/GeometryCollectionTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/LineStringTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/MultiLineStringTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/MultiPointTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/MultiPolygonTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/PointTests.swift
  Tests/MapboxMapsTests/Foundation/GeoJSON/PolygonTests.swift
  Tests/MapboxMapsTests/Foundation/Integration Tests/FeatureQueryingTest.swift
  Tests/MapboxMapsTests/Offline/TileRegionLoadOptions+MapboxMaps.swift
  Tests/MapboxMapsTests/Style/Fixtures/SourceProperties+Fixtures.swift
  Tests/MapboxMapsTests/Style/GeoJSONSourceDataTests.swift
  scripts/release/packager/versions.json
Labels: breaking change :warning:, dependencies

#724 Update MapboxMobileEvents to v1.0.5
  Apps/Apps.xcworkspace/xcshareddata/swiftpm/Package.resolved
  MapboxMaps.podspec
  Package.resolved
  Package.swift
  scripts/release/packager/versions.json
Labels: dependencies
